// Container and columns

$container-max-width: 1440px;
$gutter: 3rem;


// Breakpoints

$breakpoints: (sm: 576px, md: 992px, lg: 1440px);


// Colors

$color-white: #FFFFFF;
$color-blue-light: #778CA6;
$color-blue-dark: #003049;
$color-red: #E85C5A;
$color-gray-light: #E5E5E5;
