@import "../../styles/mixins";

.Features {
    .Feature {
        align-items: center;
        margin-bottom: 12rem;

        &-image {
            width: 100%;
        }
        
        &-description {
            font-size: 1.6rem;
        }

        // if that's the 2nd, 4th, 6th, etc. feature, description goes before an image
        @include responsive("md") {
            &:nth-child(even) {
                flex-direction: row-reverse;
            }
        }
    }
}